body {
    background-color: 	DeepSkyBlue 
}
div {
    color: black;
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {

    background-color: cornsilk;
    color: navy;
}
