body {

    background-color: #26c6da
    
}

input {

    background-color: #fff176 ;
    color: black ;
}

form{
   
    background-color: #03a9f4 ;
    color: black ;
    font-size: 12pt;
    font-family:Verdana, Arial, Tahoma, Serif;
}

fieldset {
    background-color: #f48fb1
    
}
